<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title> {% block title %} {% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        
    </head>
    <body>
        <div class="container">
            {% include 'navbar.html'%}
          
            {% block content %}
            {% endblock %}
          </div>

          <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2023 Copyright:
              <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
          </footer>
    </body>
</html>