    {% extends 'base.html' %}

    {% block title %} HOMEPAGE {% endblock %}


    {% block content %}
    <br>
        {% comment %} Check status: {{ user.is_superuser }} {% endcomment %}
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
        
        
        {% if user.is_authenticated %}
        <div class="row row-cols-1 row-cols-md-4 g-4">
        
            {% for book in books %}
            <div class="col">
                <div class="card">
                    <h3 class="card-header">{{book.title}}</h3>
                    <a href="{% url 'book' book.id%}"> Info</a>
                    <img  alt="{{book.title}}" src="{{book.thumbnail_url}}"  width="200"/>
                {% comment %} <p class="card-text">Description: {{book.description}}</p> {% endcomment %}
                </div>
            </div>    
            {% endfor %}
        <br>
        </div>
        {% else %}
        <div class="alert alert-primary" role="alert">Please, login or register</div>
        {% endif %}
   
        {% endblock %}