<ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'homepage' %}">HOME</a>
    </li>

    {% if user.is_authenticated %}
    
    <li class="nav-item">
      <a class="nav-link link-light" href="{% url 'add-book' %}">ADD BOOK</a>
    </li>
    <li><a class="nav-link link-light" href="#"> MANAGE BOOK</a></li>
    {% endif %}

    {% if user.is_authenticated %}
    <li><a class="nav-link link-light" href="{% url 'profile' user.id %}">PROFILE</a></li>
    <li><a class="nav-link link-light" href="{% url 'logout' %}">LOGOUT</a></li>
    
    
    {%else %}
    <li><a class="nav-link link-light" href="{% url 'login' %}">LOGIN</a></li>
    <li><a class="nav-link link-light" href="{% url 'register' %}">REGISTER</a></li>
   
    {% endif %}

  </ul>